
<!DOCTYPE HTML>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.w3.org/1999/xhtml" >
	<head>
		<title>JKshian</title>

		<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        		<link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Poppins">

        <link rel="stylesheet" href="mycss.css">
        <script type="text/javascript" src="myjs.js"></script>


		<!-- Bootstrap core CSS     -->
		<link rel="stylesheet" th:href="@{/css/bootstrap.min.css}"  href="../static/css/bootstrap.min.css">

		<!-- Animation library for notifications   -->
		<link rel="stylesheet" th:href="@{/css/animate.min.css}"  href="../static/css/animate.min.css" >

		<!--  Light Bootstrap Table core CSS    -->
		<link rel="stylesheet" th:href="@{/css/light-bootstrap-dashboard.css?v=1.4.0}" href="../static/css/light-bootstrap-dashboard.css?v=1.4.0" >

		<!--  CSS for Demo Purpose, don't include it in your project     -->
		<link rel="stylesheet" th:href="@{/css/demo.css}"  href="../static/css/demo.css" >

		<!--     Fonts and icons     -->
		<link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
		<link href='http://fonts.googleapis.com/css?family=Roboto:400,700,300' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" th:href="@{/css/pe-icon-7-stroke.css}"  href="../static/css/pe-icon-7-stroke.css"  >
		
	
	</head>
	
	<style type="text/css">
		.affix{
			top:5rem;
		}
		
		body{
position: relative;
		};
		
	</style>
	<body data-spy="scroll" data-target="#myscroll">
		<div class="wrapper">
			<div class="sidebar" data-color="green" data-image="assets/img/sb2.jpeg">
		
				<div class="sidebar-wrapper">
					<div class="logo">
						<a href="https://github.com/ImeshaDilshani/Airline-Reservation-Management-System.git" class="simple-text">
							JKshian
						</a>
					</div>
		
					<ul class="nav">
						<li class="active">
							<a href="dashboard.html">
								<i class="pe-7s-graph"></i>
								<p>dashboard</p>
							</a>
						</li>
						
						<li>
							<a href="passenger.html">
								<i class="pe-7s-users"></i>
								<p>Passengers</p>
							</a>
						</li>
						<li>
							<a href="flights.html">
								<i class="pe-7s-plane"></i>
								<p>Flights</p>
							</a>
						</li>
						<li>
							<a href="paymentinfo.html">
								<i class="pe-7s-cash"></i>
								<p>Payments</p>
							</a>
						</li>
						<li>
							<a href="maps.html">
								<i class="pe-7s-map-marker"></i>
								<p>Maps</p>
							</a>
						</li>
						<li>
							<a href="notifications.html">
								<i class="pe-7s-bell"></i>
								<p>Notifications</p>
							</a>
						</li>
						<li>
							<a href="setting.html">
								<i class="pe-7s-settings"></i>
								<p>Setting</p>
							</a>
						</li>
						<li class="active-pro">
							<a href="user.html">
								<i class="pe-7s-rocket"></i>
								<p>Log Out</p>
							</a>
						</li>
					</ul>
				</div>
			</div>			
	
<div class="main-panel">
<nav class="navbar navbar-default navbar-fixed">
<div class="container-fluid">
	<div class="navbar-header">
		<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation-example-2">
			<span class="sr-only">Toggle navigation</span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
			<span class="icon-bar"></span>
		</button>
		
	</div>
	<div class="collapse navbar-collapse">
		<ul class="nav navbar-nav navbar-left">
			<li>
				<a href="#" class="dropdown-toggle" data-toggle="dropdown">
					<i class="fa fa-dashboard"></i>
					<p class="hidden-lg hidden-md">Dashboard</p>
				</a>
			</li>
			<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<i class="fa fa-globe"></i>
						<b class="caret hidden-lg hidden-md"></b>
						<p class="hidden-lg hidden-md">
							5 Notifications
							<b class="caret"></b>
						</p>
				  </a>
				  <ul class="dropdown-menu">
					<li><a href="#">Flight</a></li>
					<li><a href="#">Booking</a></li>
					<li><a href="#">Crew</a></li>
					<li><a href="#">Passenger</a></li>
					<li><a href="#">Maintenance</a></li>
				  </ul>
			</li>
			<li>
			   <a href="">
					<i class="fa fa-search"></i>
					<p class="hidden-lg hidden-md">Search</p>
				</a>
			</li>
		</ul>

		<ul class="nav navbar-nav navbar-right">
			<li>
			   <a href="user.html">
				   <p>user</p>
				</a>
			</li>
			<li class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
						<p>
							new
							<b class="caret"></b>
						</p>

				  </a>
				  <ul class="dropdown-menu">
					<li><a href="#">Flight Updates</a></li>
					<li><a href="#">Booking Confirmations</a></li>
					<li><a href="#">Crew Assignments</a></li>
					<li><a href="#">Payment Status</a></li>
					<li><a href="#">Task Completion</a></li>
					<li><a href="#">Seat Availability</a></li>
					<li><a href="#">Passenger Feedback</a></li>
				  </ul>
			</li>
			
			<li class="separator hidden-lg"></li>
		</ul>
	</div>
</div>
</nav>


			<div id="#myscroll" class="container" style="margin-left: 0;margin-top: 5rem; float: right; width:80%; padding: 0 5rem 0 5rem">
				<h2>New Flight</h2>
		  		<hr>
				<div  style="width: 100%">
					<div class="panel-group">
					  	<div class="panel panel-default">
					    	<div class="panel-heading">
					    		<legend style="text-align: center;">Flight Information</legend>
					    	</div>
					    	<div class="panel-body">
					    		<div class="input-group">
									<label for="class">Airbus No:</label>
									<select class="form-control">
									<option>1</option>
									<option>2</option>
									<option>3</option>
									</select>
									<a href="#"></a>
								</div>
								<br>

							<form class="form-inline">
								<div class="input-group">
									<label for="">Flight No:</label>
									<input type="number" class="form-control" placeholder="Flight No." name="" required>
								</div>


									<br><br>
									<div>
										<div class="input-group">
											<label for="from">From</label>
											<input type="text" class="form-control" placeholder="Origin" name=""  id="from" required>
										</div>
										<div class="input-group">
											<label for="to">To</label>
											<input type="text" class="form-control" placeholder="Destination" name="" id="to" required>
										</div>
									</div>
								

									<br>
									<div>
										<div class="input-group">
											<label for="Departure">Departure Date</label>
											<input type="date" class="form-control" name="date1" min="2017-01-01" id="Departure" required>
										</div>
										<div class="input-group">
											<label>Departure Time</label>
											<input type="time" class="form-control" name="" id="" >
										</div>
									</div>
								
								
									<br>
									<div>
										<div class="input-group">
											<label for="Adults">Journey Hours</label>
											<input type="number" class="form-control" id="" value="1" name="" min="1" required>
										</div>
										<div class="input-group">
											<label>Intervals</label>
											<input type="number" class="form-control" id="" value="0" name="" min="0">
										</div>
									</div>
								<!--class tabs-->
								<br>
							<div class="container" style="margin: 0 0 0 0;padding: 0 0 0 0;float: center;width: 100%" >
								<div class="row">

								<div class="col-sm-4">
									<div class="panel-group">
									    <div class="panel panel-default">
									      	<div class="panel-heading" data-toggle="collapse" href="#collapse1">
									        <h4 class="panel-title">First</h4>
									     	</div>

									      	<div id="collapse1" class="panel-collapse collapse">
									        	<div class="panel-body">
									        		


									        			<div>
															<div class="input-group">
																<label>Seats</label>
																<input type="number" class="form-control" id="" value="0" min="0" required>
															</div>
															<div class="input-group">
																<label>Price <small>(for each seat)</small></label>
																<input type="number" class="form-control" value="0" min="0" required>
															</div>
															<div class="input-group">
																<label>Features</label>
																<input type="text" class="form-control" placeholder="add new features">
															</div>
														</div>
													


									        	</div>
									      	</div>
									    </div>
									</div>
								</div>
								<div class="col-sm-4">
									 <div class="panel-group">
									    <div class="panel panel-default">
									      	<div class="panel-heading" data-toggle="collapse" href="#collapse2">
									        <h4 class="panel-title">Business</h4>
									     	</div>

									      	<div id="collapse2" class="panel-collapse collapse">
									        	<div class="panel-body">



														<div>
															<div class="input-group">
																<label>Seats</label>
																<input type="number" class="form-control" id="" value="0" min="0" required>
															</div>
															<div class="input-group">
																<label>Price <small>(for each seat)</small></label>
																<input type="number" class="form-control" value="0" min="0" required>
															</div>
															<div class="input-group">
																<label>Features</label>
																<input type="text" class="form-control" placeholder="add new features">
															</div>
														</div>
													


												</div>
									      	</div>
									    </div>
									</div>
								</div>
								<div class="col-sm-4">
									  <div class="panel-group">
									    <div class="panel panel-default">
									      	<div class="panel-heading" data-toggle="collapse" href="#collapse3">
									        <h4 class="panel-title">Economy</h4>
									     	</div>
									      	<div id="collapse3" class="panel-collapse collapse">
									        	<div class="panel-body">



														<div>
															<div class="input-group">
																<label>Seats</label>
																<input type="number" class="form-control" id="" value="0" min="0" required>
															</div>
															<div class="input-group">
																<label>Price <small>(for each seat)</small></label>
																<input type="number" class="form-control" value="0" min="0" required>
															</div>
															<div class="input-group">
																<label>Features</label>
																<input type="text" class="form-control" placeholder="add new features">
															</div>
														</div>
													


												</div>
									      	</div>
									    </div>
									</div>
								</div>
							</div>
							</div>

								<!--button-->
								<br>
								<div style="text-align: right;">
									<button type="submit" class="btn btn-primary" style="background-color: green;"><a href="flights.html" style="color: white"><i class="fa fa-plus"></i> Add</a></button>
								</div>
					    	</div>

</form>


						</div>
					</div>
				</div>
			</div>
			<footer class="footer">
				<div class="container-fluid">
					<p class="copyright pull-right">
						&copy; <script>document.write(new Date().getFullYear())</script> <a href="https://github.com/ImeshaDilshani/Airline-Reservation-Management-System.git">JKshian</a>, Connecting People, Places, And Cultures.
					</p>
				</div>
			</footer>
			  
	</div>
	
	  
	</body>
</html>
<script type="text/javascript">
			$("#m1").click({param1:"#sub1",param2:"#sub2",param3:"#sub3",param4:"#sub4"},navbar_movment);
	$("#m2").click({param1:"#sub2",param2:"#sub1",param3:"#sub3",param4:"#sub4"},navbar_movment);
	$("#m3").click({param1:"#sub3",param2:"#sub1",param3:"#sub2",param4:"#sub4"},navbar_movment);
	$("#m4").click({param1:"#sub4",param2:"#sub1",param3:"#sub2",param4:"#sub3"},navbar_movment);

		</script>s